body {
  padding: 0px;
  font: 14px Helvetica, Arial, sans-serif;
  margin:0px;
}

nav > ul {margin-top: 0px}

nav {
	margin-top: 0px;
	padding: 0px;
}

.container {
	margin:0px;
}

a {
  color: #00B7FF;
}

p {
	line-height: 30px; 
}

.v-center {
   display: flex;
   align-items: center;
}

.jumbotron {
	margin-right: 15%;
	margin-left: 15%;
}

.describe {
	margin-left: 2%;
	margin-right: 2%;
}

.navbar {
	margin-top: 0%;
}

img {
    cursor: zoom-in;
}


ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
 
ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}